<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<div th:replace="index :: header"></div>
</head>
<body>
	<div th:replace="index :: navbar"></div>
	<div class="container d-flex justify-content-center">
		<form class="col-sm-4 mt-5" action="">
			<h5 class="text-center mb-3">Set your account new password</h5>
			<div class="mb-3">
				<label for="passwd" class="form-label">Password</label> <input
					type="password" id="passwd" class="form-control"
					aria-describedby="passwordHelpBlock">
				<div class="invalid-feedback"></div>
			</div>
			<div class="mb-3">
				<label for="confirmPasswd" class="form-label">Confirm
					Password</label> <input type="password" class="form-control"
					id="confirmPasswd">
				<div class="invalid-feedback"></div>
			</div>
			<div class="col-12">
				<button class="btn btn-primary w-100" type="submit" id="setBtn">Change
					password</button>
			</div>
		</form>
	</div>
	<div id="MessageCard"></div>
	<script type="text/javascript" th:src="@{js/set.js}"></script>
	<div th:replace="index :: footer"></div>
</body>
</html>